<!DOCTYPE html>
<html lang="en">


<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin app-container -->
            <div class="app-container">
               
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Today Market Analysis</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li >
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li >
                                                   Parameters
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">>>Today Prediction</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->
                                 <div class="text-xxs-center"> 
                           <h2 style="color: #6B44D4"> 
                             <br>
                            Based on Today's Market, Prediction is "{{finalPrediction}}"
                          </h2>
                                 </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- start car dealer-->



                        <div class="row">
                            <div class="col-sm-12 col-xxl-3 mb-30">
                                <div class="card card-statistic car-dealer-contants h-100 mb-0 o-hidden">
                                    <div class="card-body p-0">
                                        <div class="bg-gradient">
                                            <div class="card-header border-0 d-flex justify-content-between mb-3">
                                                <div class="card-heading">
                                                    <h4 class="card-title text-white">Today Data 
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      Strike Price: {{strikePrice}}
                                                    </h4>
                                                </div>
                                                
                                            </div>
                                            
                                            
                         <div class="apechart-wrapper">
                                                  <div id="cardealerdemo1" class="chart-fit"></div>
                                              </div>
                                          </div>


                     
                                          <div class="row no-gutters">
                                              <div class="col-xxs-6">
                                                  <div class="media align-items-center p-4 border-sm-right border-bottom">
                                                   
                                                    
                                                    <div class="media-body">
                                                        <strong class="text-dark">Calls Prediction</strong>
                                                        <h3 class="font-light text-muted mb-0">{{callPrediction}}</h3>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-xxs-6">
                                                <div class="media align-items-center p-4 border-bottom">
                                                   
                                                    <div class="media-body">
                                                        <strong class="text-dark">Puts Prediction</strong>
                                                        <h3 class="font-light text-muted mb-0">{{putPrediction}}</h3>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                          
                        </div>
   
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-xl-bottom-0 border-lg-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Put-Call Ratio</h4>
                                                      
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-24">{{pcrTodayPredict}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-xl-bottom-0 border-xl-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>At the Money</h4>
                                                       
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-24">{{atmTodayPredict}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-lg-bottom-0 border-lg-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Open Interest</h4>
                                                        
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-24">{{oiTodayPredict}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>LTP</h4>
                                        
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 text-xxs-center">
                                                        <span class="d-block text-primary font-24">{{pdTodayPredict}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                             <div class="col-12 mt-3">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                
                                                    <button (click)="showcall()" class="btn btn-primary text-uppercase">call side chart</button>
                                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                     <button (click)="showput()" class="btn btn-primary text-uppercase">Put side chart</button>
                                                     
                                                </div>
                                               
                                                <div *ngIf="show1">
                                                  helo1
                                                </div>
                                                  <div *ngIf="show2">
                                                  helo2
                                                </div>
                        </div>
    
                        <!-- end car dealer-->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->

        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->

    <!-- plugins -->
    <script src="assets/js/vendors.js"></script>

    <!-- custom app -->
    <script src="assets/js/app.js"></script>
</body>


</html>