<!DOCTYPE html>
<html lang="en">


<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin app-container -->
            <div class="app-container">
                              <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>At The Money Analysis</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li >
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li>
                                                   Parameters
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">>>ATM</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->                               
                            </div>
                        </div>
                        <div class="text-xxs-center"> 
                           <h2 style="color: green"> 
                            Based on ATM, Today's Market Prediction is "{{todayPredict}}"
                          </h2>
                          <h4 style="color: blue">                                                        
                            Considering Previous Days ATM, Market Prediction is "{{finalPredict}}"
                          </h4>                          
                        </div>
                        <!-- end row -->
                        <div class="row no-gutters">
                                              <div class="col-xxs-6">
                                                  <div class="media align-items-center p-4 border-sm-right border-bottom">
                                                  
                                                    
                                                    <div class="media-body">
                                                        <strong class="text-dark">Today Call Side ATM Value</strong>
                                                        <h3 class="font-light text-muted mb-0">{{todayCallATM}}</h3>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-xxs-6">
                                                <div class="media align-items-center p-4 border-bottom">
                                                   
                                                    <div class="media-body">
                                                        <strong class="text-dark">Today Put Side ATM Value</strong>
                                                        <h3 class="font-light text-muted mb-0">{{todayPutATM}}</h3>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                        <!-- start car dealer-->

                        <div class="row">
                            <div class="col-sm-12 col-xxl-3 mb-30">
                                <div class="card card-statistic car-dealer-contants h-100 mb-0 o-hidden">
                                    <div class="card-body p-0">
                                        <div class="bg-gradient">
                                            <div class="card-header border-0 d-flex justify-content-between mb-3">
                                                <div class="card-heading">
                                                    <h4 class="card-title text-white">Weekly Data</h4>
                                                </div>
                                                
                                            </div>
                                            
                                            
                         <div class="apechart-wrapper">
                                                  <div id="cardealerdemo1" class="chart-fit"></div>
                                              </div>
                                          </div>
  <!--graph-->
<div>
	<div>
		<div style="display: block">
			<canvas baseChart height="50" width="180" 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
		</div>
	
  </div>
</div>
 <!--graph-->                                 
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 col-lg-6 col-xxl-6 mb-30">
                                <div class="card card-statistic car-dealer-contants h-100 mb-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="card-heading">
                                            <h4 class="card-title">Sale Analysis Trend</h4>
                                        </div>
                                        <div class="dropdown">
                                            <a class="p-2" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-horizontal"></i>
                                            </a>
                                            <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                                <h6 class="mb-1">Action</h6>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                                                <h6 class="mb-1 mt-3">Export</h6>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xxs-6 col-xl-4">
                                                <h5>Number of Sale</h5>
                                                <h2 class="font-40 font-light text-muted mb-0">2,431</h2>
                                            </div>
                                            <div class="col-xxs-6 col-xl-4">
                                                <h5 class="text-primary">Amount of Sale</h5>
                                                <h2 class="font-40 font-light text-primary mb-0">3,546</h2>
                                            </div>
                                        </div>
                                        <div class="apechart-wrapper">
                                            <div id="cardealerdemo2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                          
                        </div>
   
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-xl-bottom-0 border-lg-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Billing Statement</h4>
                                                        <p>Consectetur ipsum dolor sit amet, adipisicing.</p>
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-30">56</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-xl-bottom-0 border-xl-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Car Use</h4>
                                                        <p>Consectetur ipsum dolor sit amet, adipisicing.</p>
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-30">353</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20 border-bottom border-lg-bottom-0 border-lg-right">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Receivable Data</h4>
                                                        <p>Consectetur ipsum dolor sit amet, adipisicing.</p>
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 mb-0 text-xxs-center">
                                                        <span class="d-block text-primary font-30">98%</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 p-20">
                                                <div class="row align-items-center">
                                                    <div class="col-xxs-6">
                                                        <h4>Recap the Car</h4>
                                                        <p>Consectetur ipsum dolor sit amet, adipisicing.</p>
                                                    </div>
                                                    <div class="col-xxs-6 ml-auto mt-3 mt-sm-0 text-xxs-center">
                                                        <span class="d-block text-primary font-30">155</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
    
                        <!-- end car dealer-->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->

        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->

    <!-- plugins -->
    <script src="assets/js/vendors.js"></script>

    <!-- custom app -->
    <script src="assets/js/app.js"></script>
</body>


</html>